<mat-toolbar>
    <button mat-icon-button routerLink="" class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>home</mat-icon>
    </button>
    <span>Compound</span>
    <span style="flex: 40 40 auto" class="cm-endAlign"></span>
    <button mat-icon-button   class="example-icon" aria-label="Example icon-button with menu icon" (click)="create($event)">
        <mat-icon>add_circle</mat-icon>
    </button>
    <span class="example-spacer"></span>
</mat-toolbar>
  